.card-title,.card-text{
    font-size: 14px;
    text-align: left !important;
    font-weight: bold;
    color: white;
}
.card-text{
    margin-top: -8px;
    font-weight: normal;
    font-size: 12px;
    word-break: break-all;
}

.main-card{
    /* background-color: red; */
    padding: 5px;
    /* background-color: #313131 !important; */
}

.card{
    background-color: #313131;
    /* box-shadow: 11px 11px 12px -10px rgba(245,166,35,0.75);
-webkit-box-shadow: 11px 11px 12px -10px rgba(245,166,35,0.75);
-moz-box-shadow: 11px 11px 12px -10px rgba(245,166,35,0.75); */
}

.card-img-top{
    height: 120px !important;
    width: inherit;
}

.card-title{
    height: 0.8em;
    line-height: 0.8em;
    overflow: hidden;
}

.btn-primary{
    outline: none !important;
    border: none !important;
    color: black;
    font-weight: bold;
}